<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tello</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- CUSTOM CODE -->
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="board.css">
    <script src="app.js" defer></script>
</head>
<body>
    <div id="app">
        <!-- NOT LOGGED IN PAGE -->
        <div id="nologin" v-if="!loggedin">
                <header>
                        <nav>
                            <div class="topnav"></div>
                        </nav>
                    </header>
                    <h1>Welcome to Tello</h1>
                    <p>A project management tool that will help you plan, manage and execute all your projects. </p>
                    <div class="formscontainer">
                        <div class="signin">
                            <div class="containerup">
                                <h2>SIGN IN</h2>
                                <form v-on:submit.prevent="handleLogin">
                                    <input type="email" placeholder="Enter Email" id="uname" required v-model="loginUN">
                                    <input type="password" placeholder="Enter Password" id="psw" required v-model="loginPW">
                                    <!-- V1 BUTTON -->
                                    <!-- <button type="submit"><a href="./board.html">Login</a></button> -->
    
                                    <!-- V2 BUTTON -->
                                    <button type="submit" id="loginbutton">Login</button>
                                </form>
                            </div>
                        </div>
                        <div class="signup">
                            <div class="noaccount">
                                <h2 id="h2"> DON'T HAVE AN ACCOUNT? </h2>
                    
                                <div class="signupmodal">
                                    <a href="#popup" class="btn">Sign Up</a>
                                    <div id="popup" class="modalpop">
                                        <a href="#" class="close" id="close_x">&times;</a>
                                        <h3>Sign up with</h3>
                                        <h3>Or sign up using your email</h3>
                                        <form v-on:submit.prevent="handleSignup">
                                            <!-- <input type="text" placeholder="Enter Name" id="name" required> -->
                                            <input type="email" placeholder="Email" id="email" required v-model="createUN">
                                            <input type="password" placeholder="Password" id="pssw" required v-model="createPW">
                                            <button type="submit" id="create">Create</button>
                                        </form>
                                    </div>
                                    <a href="#" class="closepop"></a>
                                </div>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                    
                    <footer>
                        <p id="footer">All rights reserved @Tello blah blah G.S</p>
                    </footer>
        </div>

        <!-- LOGGED IN PAGE -->
        <div id="login" v-if="loggedin">
                <header>
                        <nav id="menutoggle">
                            <input id="toggle" type="checkbox">
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <li class="menuoptions"><a class="menulist" href="./index.html"><img id="logo" src="https://res.cloudinary.com/dqduwnrb1/image/upload/v1598121710/Screen_Shot_2020-08-22_at_2.41.27_PM_jfpyaz.png" alt="logo" style="width:100px;height:30px;"></i></a></li>
                                <li class="menuoptions"><a class="menulist" href="#">Home</a></li>
                                <li class="menuoptions"><a class="menulist" href="#">Boards</a></li>
                                <li class="menuoptions" v-on:click="handleLogOut"><a class="menulist" href="#">Sign Out</a></li>
                            </ul>
                        </nav>
                    
                    </header>
                    
                    
                    <!-- <div class="all_boards">
                        <p class="all_boards_msg"><i class="fas fa-chess-board"></i> All Boards</p>
                        <div class="placeholders">
                            <div v-for="board of boards">
                                {{board.board_name}}
                            </div>
                            <div id="placeholder1"></div>
                            <div id="placeholder2"></div>
                            <div id="placeholder3"></div>
                        </div>
                    </div> -->
                    
                    <!-- ALL BOARDS -->
                    <div v-if="!boardSingle">
                            <div class="add_board">
                                <p class="add_board_msg">+ Create a New Board</p>
                                <input class="add_board_ip" type="text" placeholder="Add Board Title" v-model="boardName">
                                <button class="add_board_btn" v-on:click="createBoard">CREATE</button>
                                <p class="all_boards_msg"><i class="fas fa-chess-board"></i> All Boards</p>
                            </div>
                            <div class="all_boards">
                                <div class="placeholders" v-for="board of boards">
                                    <div class="placeholder1" v-bind:id="board.id" v-on:click="showBoard">
                                        {{board.board_name}}
                                        <button>update</button>
                                        <button>delete</button>
                                    </div>
                                    <!-- v-for="list of allLists" -->
                                    <!-- :class="board.id == list.board_id? list_id : null" -->
                                </div>
                            </div>
                    </div>

                    <!-- LISTS IN BOARD -->
                    <div class="one_board" v-if="boardSingle">
                        <div class="current_board"> {{boards}} </div>
                        <div class="add_list">
                            <input class="add_list_ip" type="text" placeholder="Add List Title">
                            <button class="add_list_btn" v-on:click="createList">Add List</button>
                        </div>
                        
                        <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1556638668/Sortable.js"></script>
                        <script>
                            $(document).ready(function() {
                                const example2Left = document.getElementById('all_lists_left');
                                const example2Right = document.getElementById('all_lists_right');
                                new Sortable(example2Left, {
                                    group: 'shared', // set both lists to same group animation: 150
                                });
                                new Sortable(example2Right, {
                                    group: 'shared',
                                    animation: 150
                                });
                            });
                        </script>
                        
                        <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="container-fluid">
                                            <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" id="example2-left">
                                                        <div class="name_of_list">Name of List</div>
                                                        <div class="add_item">
                                                            <input class="add_item_ip" type="text" placeholder="Add a new item">
                                                            <button class="add_item_btn">Add Item</button>
                                                        </div>
                                                        <div id="all_lists_left">
                                                            <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                                                <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">item1</a>
                                                                </div>
                                                                <div>
                                                                    <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                                        <circle cx="12" cy="12" r="1"></circle>
                                                                        <circle cx="12" cy="5" r="1"></circle>
                                                                        <circle cx="12" cy="19" r="1"></circle>
                                                                    </svg> </a>
                                                                        <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                                            <a href="#popup" class="dropdown-item edit" data-abc="true">Edit</a>
                                                                            <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                        
                        
                                                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" id="example2-right">
                                                        <div class="name_of_list">Name of List</div>
                                                        <div class="add_item">
                                                            <input class="add_item_ip" type="text" placeholder="Add a new item">
                                                            <button class="add_item_btn">Add Item</button>
                                                        </div>
                                                        <div id="all_lists_right">
                                                            <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                                                <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">item2</a>
                                                                </div>
                                                                <div>
                                                                    <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                                        <circle cx="12" cy="12" r="1"></circle>
                                                                        <circle cx="12" cy="5" r="1"></circle>
                                                                        <circle cx="12" cy="19" r="1"></circle>
                                                                    </svg> </a>
                                                                        <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                                            <a href="#popup" class="dropdown-item edit" data-abc="true">Edit</a>
                                                                            <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <footer></footer>
                        <div id="popup" class="modalpop">
                            <a href="#" class="close">&times;</a>
                            <input type="text" placeholder="Edit Item" id="edit_ip" required>
                            <button type="submit" id="save_edit">Edit</button>
                        </div>
                        <a href="#" class="closepop"></a>
                </div>
                    
        </div>
    </div>
</body>
</html>