@import url('https://fonts.googleapis.com/css2?family=Alata&family=Do+Hyeon&display=swap');

body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
}

.topnav{
    background-color: #381DFC;
    height: 25px;
    width: 100%;
}

nav {
    background-color: #44ABF8;
    height: 75px;
    width: 100%;
}

#logo {
    padding-left: 40px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    padding-left: 1100px;
    padding-bottom: 10px;
}

.current_board{
    height: 30px;
    width: 170px;
    background-color: #381DFC;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    color: white;
}

.add_list_ip{
    margin-left: 35px;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    border-style: dotted;
    width: 200px;
}

.add_list_btn{
    background-color: #381DFC;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Alata', sans-serif;
    color: white;
    height: 25px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 10px;
}


.lists_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#list1{
    height: 300px;
    width: 300px;
    background-color: rgb(101,280,231);
}

#list2{
    height: 300px;
    width: 300px;
    background-color: #E1EA35;
}

#list3{
    height: 300px;
    width: 300px;
    background-color:  #44ABF8;
}


footer {
    background-color: #381DFC;
    height: 60px;
    width: 100%;
    margn: 0 auto;
}
