@import url('https://fonts.googleapis.com/css2?family=Alata&family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
}

.topnav{
    background-color: #381DFC;
    height: 25px;
    width: 100%;
}

nav {
    background-color: #44ABF8;
    height: 75px;
    width: 100%;
}

#logo {
    padding-left: 40px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    padding-left: 1100px;
    padding-bottom: 10px;
}

.current_board{
    height: 30px;
    width: 170px;
    background-color: #381DFC;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    margin-left: 35px;
    color: white;
}

.add_list_ip{
    margin-left: 35px;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    border-style: dotted;
    width: 200px;
}

.add_list_btn{
    background-color: rgb(101,280,231);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.10);
    font-family: 'Crimson Text', serif;
    color: white;
    height: 25px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 10px;
}


.lists_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#list1{
    height: 300px;
    width: 300px;
    background-color: rgb(101,280,231);
}

#list2{
    height: 300px;
    width: 300px;
    background-color: #E1EA35;
}

#list3{
    height: 300px;
    width: 300px;
    background-color:  #44ABF8;
}


footer {
    background-color: #381DFC;
    height: 60px;
    width: 100%;
    margn: 0 auto;
}




/*-------------------------------------drag and drop----------------------------------------*/
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 10px;
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-item.block .media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-item.block .list-content {
    padding: 1rem
}

.w-40 {
    width: 40px !important;
    height: 40px !important
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.text-color {
    color: #5e676f
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.no-wrap {
    white-space: nowrap
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #E1EA35;
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.dropdown {
    position: relative
}

a:focus,
a:hover {
    text-decoration: none
}

