body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #44ABF8;
    height: 75px;
    width: 100%;
}

.topnav{
    background-color: #381DFC;
    height: 25px;
    width: 100%;
}
/*-----------------------------------------------------------*/
h1{
    text-align: center;
    color:#381DFC;
}
p{
    text-align: center;
    color:#585454;
}
.formscontainer{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}
h2{
    color:white;
    text-align: center;
}
.signin{
    width:500px;
    height: 400px;
    background-color:rgb(101,280,231);
    margin:10px 40px;
    align-content: center;
}
.containerup{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    margin-top: 19%;

}
#uname{
    margin-bottom: 20px;
}
#psw{
    margin-bottom: 20px;
}
button {
    background-color: #44ABF8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
/*-----------------------------------------------------------*/
.signup{
    width:500px;
    height: 400px;
    background-color:#E1EA35;
    margin:10px 40px;
    text-align: center;
}
#signupbutton{
    background-color: #381DFC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
}
.noaccount{
    margin-top: 30%;
}

















/*-----------------------------------------------------------*/
footer {
    display:flex;
    background-color: #381DFC;
    height: 60px;
    width: 100%;
}
